*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #d4d4d4;
    font-family:  'Roboto Condensed', 'SF Pro Display', sans-serif;
    text-shadow: -1px 1px 3px #00000075;
}
/* https://wedistill.io/uploads/videos/processed/33/Cold2520Winter2520Dream-HD3_1.mp4.mp4 */
ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    text-decoration: none;
    transition: 0.25s linear;
}

.ev-preview {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: #262626;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.ev-preview__logotype_jpg {

}
.ev-preview_button {
    border: 0;
    padding: 10px;
    width: 80px;
    border-radius: 0.2rem;
    background-color: #641e1e;
    border: 1px solid #262626;
    color: #ffffff;
    transition: 0.25s linear;
}
.ev-preview_button:hover{
    background-color: #262626;
    border: 1px solid #772424;
}

.ev-top_bar {
    position: fixed;
    left: 0;
    top: 54px;
    right: 0;
    box-shadow: inset 1px 1px 4px #36101075;
    background-color: #631b1b;
    height: 35px;
    display: flex;
    align-items: center;
    z-index: 4;
}
.ev-top_bar__container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 20px;
}
.ev-top_bar__icon {
    color: #c9c9c9;
    font-size: 12px;
    margin-right: 10px;
    background-image: url("./assets/headphones_FILL0_wght400_GRAD0_opsz48.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
}
.ev-top_bar__number {
    font-weight: bold;
    font-size: 14px;
    color: #c9c9c9;
}


.ev-header__container {
    position: fixed;
    left: 0;
    top: 89px;
    right: 0;
    z-index: 3;
    background-color: #c9c9c955;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    padding: 20px;
}
.ev-header__logotype{
    width: 150px;
    height: 50px;
    transition: 0.25s linear;
}

.ev-header__nav {
}
.ev-header__list {
    display: flex;
    align-items: center;
}
.ev-header__list_item {
    padding: 0 15px;
}
.ev-header__link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #c9c9c9;
    padding: 10px 15px;
    border: 1px solid transparent;
    
    border-radius: 0.35rem;
    transition: 0.1s ease-in-out;
}
.ev-header__link:hover{
    border: 1px solid #c9c9c975;
    background-color: #c9c9c930;
}

.ev-banner{
    position: relative;
    background-image: url("./assets/banner_background.jpg");
    background-position: center center;  
    background-attachment: fixed; 
    background-size: cover;
    width: 100%;
    height: 786px;
}
/* .ev-banner__iphone-screen{
    position: absolute;
    right: 35px;
    bottom: 162px;
    background-image: url("./assets/iphone-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 440px;
    z-index: 2;

    animation-duration: 3.5s;
    animation-name: slidein;
} */
@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900");

.everest_title_wrapper{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000090;
    font-family: "Poppins", sans-serif;
    font-size: 27vw;
    font-weight: bold;
    text-transform: uppercase;
    height: 90.8vh;
    user-select: none;
}
.s1{
    /* animation-duration: 1.3s;
    animation-name: s1;
    color: #c9c9c9; */
    z-index: 8;
}
.s2{
    animation-duration: 0.8s;
    animation-name: s2;
    color: #c9c9c9;
    z-index: 7;
}
@keyframes s2 {
    from {
        opacity: 0;
        transform: translate(-200px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.s3{
    animation-duration: 0.8s;
    animation-name: s3;
    color: #c9c9c9;
    z-index: 6;
}
@keyframes s3 {
    from {
        opacity: 0;
        transform: translate(-450px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.s4{
    animation-duration: 0.8s;
    animation-name: s4;
    color: #c9c9c9;
    z-index: 5;
}
@keyframes s4 {
    from {
        opacity: 0;
        transform: translate(-650px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.s5{
    animation-duration: 0.8s;
    animation-name: s5;
    color: #c9c9c9;
    z-index: 4;
}
@keyframes s5 {
    from {
        opacity: 0;
        transform: translate(-850px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.s6{
    animation-duration: 0.8s;
    animation-name: s6;
    color: #c9c9c9;
    z-index: 4;
}
@keyframes s6 {
    from {
        opacity: 0;
        transform: translate(-950px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}
.s7{
    animation-duration: 0.8s;
    animation-name: s7;
    color: #c9c9c9;
    z-index: 3;
}
@keyframes s7 {
    from {
        opacity: 0;
        transform: translate(-1150px, 0);
    }
  
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}


.ev-banner__video{
    z-index: 1;
    width: 100%;
    height: 90.8vh;
}
.ev-banner__container{
    padding: 150px 90px;
    max-width: 1000px;
    /* border: 1px dashed #fff; */
}
